<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Smart Pantry"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartPantry">

        <!-- Main screen of the application. -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Screen used to add a new pantry item. -->
        <activity
            android:name=".AddPantryItemActivity"
            android:exported="false" />

        <!-- Screen used to edit an existing pantry item. -->
        <activity
            android:name=".EditPantryItemActivity"
            android:exported="false" />
			
		<!-- Screen used to display suggested recipes. -->
		<activity
			android:name=".SuggestedRecipesActivity"
			android:exported="false" />
			
		<!-- Screen used to display the selected recipe. -->
		<activity
			android:name=".RecipeDetailActivity"
			android:exported="false" />
			
		<!-- Screen used to display application settings. -->
		<activity
			android:name=".SettingsActivity"
			android:exported="false" />
    </application>

</manifest>